body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ddd;
}

.clock {
    width: 200px;
    height: 200px;
    border: 10px solid #333;
    border-radius: 50%;
    position: relative;
    margin: auto;
}

.hand {
    position: absolute;
    background: red;
    width: 2px;
    height: 50%;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: rotate(90deg);
}